html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    font-size: larger;
}

header {
    background: #050505;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 .5rem 1rem rgba(86, 96, 97, 0.924);
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 1;
}

header .logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500%;
    font-style: normal;
    font-size: 2.2rem;
    color: rgb(226, 173, 58);
    text-decoration: none;
}

header .logo img {
    width: 3rem;
    height: 3rem;
    margin-bottom: -10px;
    padding-right: 20px;
}

header .menu a {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    font-size: 2rem;
    color: rgb(255, 175, 2, 0.877);
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px;
    word-spacing: 1px;
}

header .menu a:hover {
    background: white;
    border-radius: 10px 10px 10px 10px;
}

section {
    /* padding-top: 10rem; */
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}


.home .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/IMG-20241126-WA0000[1]fotobaru1.jpg);
    height: 100vh; /* Pastikan tinggi kontainer cukup besar */
    padding: 80px; /* Hapus padding untuk mencegah gangguan */
}

.home .content .content-left {
    width: 100%;
    margin-right: 15px;
}

.home .content .content-right {
    width: 70%;
    margin-left: 15px;
}

.home .content .content-right h2 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 166, 0);
}

.home .content .content-right p {
    font-size: 1.5rem;
    text-align: justify;
    text-transform: lowercase;
    font-style: italic;

}

.button-wrapper {
    position: absolute;
    top: 78%; /* Posisikan di tengah vertikal */
    left: 50%; /* Posisikan di tengah horizontal */
    transform: translate(-50%, -50%); /* Pusatkan secara sempurna */
}
.button-wrapper a button {
    height: 50px;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.007);
    border-radius: 5px;
    color: #000000;
    background: #ffffffb7;
    cursor: pointer;
    transition: 500ms;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.home .content .content-right a {
    font-size: 2rem;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-top: -20px;
    text-align: center;

}

.home .content .content-right a button {
    height: 30px;
    /* width: 100%; */
    border: 2px solid rgba(255, 255, 255, 0.007);
    border-radius: 5px;
    color: #fff;
    background: #000000b7;
    cursor: pointer;
    transition: 500ms;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 350px;
    /* display: block; */
    text-decoration: none;

}

.about .content .content-right {
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 145, 0);
    padding-right: 100px;
    width: 40%;
    margin-top: 100px;
}

.about .content .content-right p {
    text-align: justify;
    color: #fdfdfd;
    font-size: 1.3rem;
    text-transform: lowercase;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 100%;
    display: flex;
    background: linear-gradient(rgb(143, 97, 46), rgba(212, 160, 82, 0.986));
    padding-bottom: 100px;
}

.about .content .content-left {
    width: 60%;
    margin-top: 100px;
}

.about .content .content-left img {
    width: 500px;
    padding-left: 150px;
}
.review .content {
    width: 100%;
    display: flex;
}
.review .content .content-left {
    width: 50%;
}
.review .content .content-right{
    width: 50%;
}
.review .content .content-right img{
    width: 500px;
    padding-top: 50px;
}
.review .content .content-left h2 {
    text-align: center;
    margin-left: 50px;
    font-size: 150%;
    padding-right: 100px;
    padding-left: 50px;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 100px;
}

.review .content .content-left p {
    text-align: center;
    font-size: 125%;
    margin-left: 50px;
    margin-top: -70px;
}

.review .content .content-left ul {
    margin-left: 60px;
    font-size: 115%;
}


/*section about end*/

.footer {
    width: 100%;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(143, 97, 46), rgba(230, 177, 99, 0.986)); 
    padding-top: 40px;
    padding-left: 50px;
    
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap; /* Agar elemen turun ke baris berikutnya jika ruang tidak cukup */
    gap: 2rem; /* Jarak antar box */
    justify-content: space-between; /* Membagi ruang antar elemen secara merata */
}

.footer .box {
    flex: 1 1 calc(33.33% - 2rem); /* Membagi lebar box menjadi 3 kolom */
    max-width: calc(33.33% - 2rem); /* Membatasi lebar maksimal agar tetap 3 kolom */
    text-align: justify;
}


.footer.box-container .box h3 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    padding: .8rem 0;
    border-bottom: .2rem solid rgb(0, 0, 0);

}

.footer .box-container .box ul li a{
    color: #000000;
}
.footer .box-container .box a:hover{
    padding-left: 10px;
    transition: 0.4s ease-in-out;
}


@media (max-width: 768px) {
    .footer .box-container {
        grid-template-columns: repeat(2, 1fr); /* Menjadi 2 kolom di layar sedang */
    }
}

@media (max-width: 480px) {
    .footer .box-container {
        grid-template-columns: 1fr; /* Menjadi 1 kolom di layar kecil */
    }
}
